.head1{
    border-bottom-color: transparent;
    position: static;
    li.food{
        position: relative;
        ol{
            width: 100px;
            left: 15px;
            position: absolute;
            z-index: 99999;
            li{
                margin-top: 10px;
            }
        }
        ol>li:hover{
            background-color: khaki;
            color: lawngreen;
        }
    }
}
.swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
$color : #AA8764;
$border :1px solid #e7e7e7;
$background :rgba(255,255,255,.7);
$size :14px;

